# === Ansible === #
.vault_pass
cloud_1-key
cloud_1-key.pub
inventory
log/

# === Terraform === #
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars

# === OS === #
.DS_Store

# === Editor === #
*.swp
*.swo
*~
