---
- name: Create project directory
  ansible.builtin.file:
    path: /opt/cloud_1
    state: directory
    mode: "0755"

- name: Create directory for certificates
  ansible.builtin.file:
    path: /opt/cloud_1/certs
    state: directory
    mode: "0700"

- name: Generate an OpenSSL private key
  community.crypto.openssl_privatekey:
    path: /opt/cloud_1/certs/server.key
    size: 2048

- name: Generate an OpenSSL Certificate Signing Request (CSR)
  community.crypto.openssl_csr:
    path: /opt/cloud_1/certs/server.csr
    privatekey_path: /opt/cloud_1/certs/server.key
    common_name: "{{ ansible_host }}"

- name: Generate a Self Signed OpenSSL certificate
  community.crypto.x509_certificate:
    path: /opt/cloud_1/certs/server.crt
    csr_path: /opt/cloud_1/certs/server.csr
    privatekey_path: /opt/cloud_1/certs/server.key
    provider: selfsigned

- name: Copy .env file
  ansible.builtin.template:
    src: template.env.j2
    dest: /opt/cloud_1/.env
    owner: root
    group: root
    mode: "0600"

- name: Copy Nginx config
  ansible.builtin.copy:
    src: nginx.conf
    dest: /opt/cloud_1/nginx.conf

- name: Copy docker-compose file
  ansible.builtin.copy:
    src: docker-compose.yml
    dest: /opt/cloud_1/docker-compose.yml

- name: Tear down existing services
  community.docker.docker_compose_v2:
    project_src: /opt/cloud_1
    state: absent

- name: Create and start services
  community.docker.docker_compose_v2:
    project_src: /opt/cloud_1
    state: present
    pull: missing
