---
- name: Ensure UFW service is enabled in Systemd
  service:
    name: ufw
    enabled: yes
    state: started

- name: Allow SSH
  ufw:
    rule: allow
    port: "22"
    proto: "tcp"

- name: Allow HTTP
  ufw:
    rule: allow
    port: "80"
    proto: "tcp"

- name: Allow HTTPS
  ufw:
    rule: allow
    port: "443"
    proto: tcp

- name: Set default incoming policy to deny
  ufw:
    direction: incoming
    default: deny

- name: Enable Firewall (The Switch ON)
  ufw:
    state: enabled
